
  .Button--ios {
	-webkit-appearance: button;
	-webkit-writing-mode: horizontal-tb !important;
	text-rendering: auto;
	color: buttontext;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	align-items: flex-start;
	cursor: default;
	background-color: buttonface;
	box-sizing: border-box;
	margin: 0em;
	font: 400 13.3333px Arial;
	padding: 1px 6px;
	border-width: 2px;
	border-style: outset;
	border-color: buttonface;
	border-image: initial;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
	font-size: 12.5px;
	font-weight: 400;
	line-height: 15px;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	display: inline-block;
	margin: 0;

	zoom: 1;
	cursor: pointer;
	white-space: nowrap;
	outline: none;
	vertical-align: top;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
	background: none;
	background-color: #5181b8;
	-webkit-tap-highlight-color: #0000;
	user-select: none;
}
.Header--ios {

	line-height: 52px;
	font-size: 19px;

}
.Header--level-secondary .Header__content {
	color: #000!important;
	line-height: 15px!important;
	text-transform: uppercase!important;
	font-size: 19px!important;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif!important;
	line-height: 1.154!important;
	font-weight: 400!important;
	-webkit-font-smoothing: subpixel-antialiased!important;
	text-transform: capitalize!important;
}
.Group--ios {
	margin: 10px 0;
	position: relative;
	padding: 0 20px;


}
.Header__in {
    display: flex;
	align-items: center;
	justify-content: space-between;
}
.Group--ios {
	position: relative;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;


}
.Group--ios::before, .Group--ios::after {
	position: absolute;
	right: 0;
	left: 0;
	z-index: 1;
	height: 0px;
	content: '';
	background: #d7d8d9;
	background: var(--separator_common);
}
.NameUrl {
	width: 100%;
}
.File {
	width: 100%;
}
input[type="file" i]::-webkit-file-upload-button {
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
	font-size: 12.5px;
	font-weight: 400;
	line-height: 15px;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	display: inline-block;
	margin: 0;
	padding: 7px 16px 8px;
	zoom: 1;
	cursor: pointer;
	white-space: nowrap;
	outline: none;
	vertical-align: top;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
	background: none;
	background-color: #5181b8;
	-webkit-tap-highlight-color: #0000;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}	